@charset "utf-8";
@import url("./reset.css");

body{
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
}

/* 숨김 컨텐츠 */
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

a {
  text-decoration: none;
  color: inherit;
}