/* 뷰표트 변환시 폰트크기 자동확대 방지 */
body {
  -webkit-text-size-adjust: none;
} 

.drink {
  width: 100%;
  max-width: 400px;
  margin-bottom: 8%;
}

.nutrientList { 
  margin-left: 4%;
}

.nutrient, .content {
  width: 40%;
}

@media screen and (max-width: 375px) {
  .nutrient, .content {
    width: 43%;
    font-size: .75rem;
  }
  
  .nutrient:nth-child(7), .nutrient:nth-child(9), .nutrient:nth-child(11) {
    padding-left: 4%;
  }
 }